.banner{
    height: 500px;
}
header>h1{
    /* display: inline-block; */
}

/* Explore The elearning Institute */
.explore{
    width: 50%;
}

/* ready to join */
.ready-parent{
    justify-content: space-between;
    align-items: center;
}
.ready{
    width: 60%;
}
.ready-btn{
    width: 20%;
}

/* Trusted Companies */
.companies>img{
    width: 10%;
}
